[user]
	email = spindart@proton.me
	name = spindart
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/cb1933bbc38d329b3595673a600fab5c7368f0a7/node /tmp/vscode-remote-containers-64005f69-b833-41f0-a440-6e81cdce7129.js git-credential-helper $*; }; f"
