services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: app-php
    image: spindart/php
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - app

  nginx:
    image: nginx:latest
    container_name: app-nginx
    ports:
      - 8888:80
    volumes:
      - ./:/var/www
      - ./docker/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app

networks:
  app:
    driver: bridge